
<div class="row">
    <div class="col-12 mx-auto mt-3">

        <form id="comment-form">
            <div class="form-group">
                <label for="comment-form"><strong>COMMENT</strong></label>
                <textarea class="form-control {{this.id}}" style="background: beige" id="comment" rows="3"></textarea>
                <div class="text-center">
                    <button type="submit" class="text-center mt-3 btn btn-dark btn-lg btn-block">Submit</button>
                </div> 
            </div>
        </form>
        
    </div>
</div>

<script src="/js/newCommentHandler.js"></script>