<div class="row">
    <div class="col-md-6 mx-auto pt-4">
        <div class="card">
            <div class="card-header">
                {{this.title}}
            </div>
            <div class="card-body">
                {{this.post_body}}
            </div>
        </div>
    </div>
</div>