<div class="container">
	<div class="row">
        <div class="col-md-10 mx-auto text-left mt-5">
            <h1>{{post.title}}</h1>
            <p>{{post.date}}</p>
            <p>{{post.post_body}}</p>
        </div>
    </div>
</div>