<style>
  html, body {
    height: 100%;
  }

  .vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55%;
  }
</style>

<div class="vertical-center">
  <div class="text-center">
    <h1>404! Page Not Found</h1>
    <a href="/userPage">Go back..</a>
  </div>
</div>
