{{! <h2>This is the About Page!</h2> }}

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">About Us</h1>
      <p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
        in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
        qui officia deserunt mollit anim id est laborum</p>

    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-4" style="max-width: 300px; margin: auto;">
          <div class="card mb-4 box-shadow" style="width: 100%;">
            <img
              class="card-img-top"
              src="https://media.licdn.com/dms/image/C4E03AQF70EiqTlGY4A/profile-displayphoto-shrink_400_400/0/1516982420923?e=1684972800&v=beta&t=tNkce1kq0VxVhaPRIsE5uPKOQJHR9IRXI-wZzMz0woA"
              alt="Eric"
            />
            <div class="card-body">
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur
                adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >View</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4" style="max-width: 300px; margin: auto;">
          <div class="card mb-4 box-shadow" style="width: 100%;">
            <img
              class="card-img-top"
              src="https://avatars.githubusercontent.com/u/116515976?v=4"
              alt="Elizabeth"
            />
            <div class="card-body">
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur
                adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua..</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >View</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4" style="max-width: 300px; margin: auto;">
          <div class="card mb-4 box-shadow" style="width: 100%;">
            <img
              class="card-img-top"
              src="https://avatars.githubusercontent.com/u/87347760?v=4"
              alt="Hunter"
            />
            <div class="card-body">
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur
                adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >View</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4" style="max-width: 300px; margin: auto;">
          <div class="card mb-4 box-shadow" style="width: 100%;">
            <img
                class="card-img-top"
                src="https://media.licdn.com/dms/image/C5603AQGvhBS6WYxexw/profile-displayphoto-shrink_400_400/0/1660074118575?e=1684972800&v=beta&t=YpWiuLqGOFFKNpRepU3x09T-nRQfijbQwJkuRGD0XWk"
                alt="Brain"
            />

            <div class="card-body">
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur
                adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua..</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >View</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4" style="max-width: 300px; margin: auto;">
          <div class="card mb-4 box-shadow" style="width: 100%;">
            <img
              class="card-img-top"
              src="https://media.licdn.com/dms/image/C4E03AQGPutQUZuWIBQ/profile-displayphoto-shrink_400_400/0/1656191826866?e=1684972800&v=beta&t=Dcq-a-inO1w6sorTLiNLG4z8MUaEV6WvO96hxVafyOc"
              alt="Ryan"
            />
            <div class="card-body">
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur
                adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >View</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4" style="max-width: 300px; margin: auto;">
          <div class="card mb-4 box-shadow" style="width: 100%;">
            <img
              class="card-img-top"
              src="https://media.licdn.com/dms/image/D5603AQFMelUzK9fnrQ/profile-displayphoto-shrink_400_400/0/1676653009461?e=1684972800&v=beta&t=eCwWdtCsYdm1G7NS4I14HlFkwai4GVAvS8MeHpvlmSE"
              alt="Chris"
            />
            <div class="card-body">
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur
                adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua..</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                  >View</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>