{{! <h2>This is the About Page!</h2> }}

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">About Us</h1>
      <p class="lead text-muted">Fusion Fables was established for writers to come together to harness the fusion of collaboration and
      community. This is the space where innovation can be allowed to exceed beyond the power of one mind. Join our community,
      and allow this intuitive platform to springboard your narratives to unimagined realms.</p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <h3
        class="jumbotron-heading text-center"
        style="padding-bottom: 75px"
      >Meet the Team</h3>
      <div class="row">
        <div class="col-md-4" style="max-width: 300px; margin: auto;">
          <h5 style="text-align:center">Eric Easthope</h5>
          <div class="card mb-4 box-shadow" style="width: 100%;">
            <img
              class="card-img-top"
              src="https://media.licdn.com/dms/image/C4E03AQF70EiqTlGY4A/profile-displayphoto-shrink_400_400/0/1516982420923?e=1684972800&v=beta&t=tNkce1kq0VxVhaPRIsE5uPKOQJHR9IRXI-wZzMz0woA"
              alt="Eric"
            />
            <div class="card-body">
              <p class="card-text">Eric Easthope is a web developer from Pflugerville, 
                TX. He has prior experience in public accounting and maintains an active 
                CPA license. He spends his free time playing games with his family and 
                friends, and enjoys music, puzzles, and traveling.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                    data-toggle="modal"
                    data-target="#myModal1"
                  >View</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4" style="max-width: 300px; margin: auto;">
          <h5 style="text-align:center">Elizabeth Olsavsky</h5>
          <div class="card mb-4 box-shadow" style="width: 100%;">
            <img
              class="card-img-top"
              src="https://avatars.githubusercontent.com/u/116515976?v=4"
              alt="Elizabeth"
            />
            <div class="card-body">
              <p class="card-text">Combining her experience as a former teacher and her 
                unwavering dedication to the world of technology, Elizabeth is a driven aspiring 
                developer fueled by a deep hunger for knowledge. Join her on her journey.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                    data-toggle="modal"
                    data-target="#myModal2"
                  >View</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4" style="max-width: 300px; margin: auto;">
          <h5 style="text-align:center">Hunter Hester</h5>
          <div class="card mb-4 box-shadow" style="width: 100%;">
            <img
              class="card-img-top"
              src="https://avatars.githubusercontent.com/u/87347760?v=4"
              alt="Hunter"
            />
            <div class="card-body">
              <p class="card-text" style='font-size:100px; text-align:center;'>&#127838;</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                    data-toggle="modal"
                    data-target="#myModal3"
                  >View</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4" style="max-width: 300px; margin: auto;">
          <h5 style="text-align:center">Brian Hamlin</h5>
          <div class="card mb-4 box-shadow" style="width: 100%;">
            <img
              class="card-img-top"
              src="https://media.licdn.com/dms/image/C5603AQGvhBS6WYxexw/profile-displayphoto-shrink_400_400/0/1660074118575?e=1684972800&v=beta&t=YpWiuLqGOFFKNpRepU3x09T-nRQfijbQwJkuRGD0XWk"
              alt="Brain"
            />

            <div class="card-body">
              <p class="card-text">With a solid background in network administration 
                and system administration, Brian aspires to become a proficient developer, 
                combining his technical expertise and innovative mindset to shape the future of technology.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                    data-toggle="modal"
                    data-target="#myModal4"
                  >View</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4" style="max-width: 300px; margin: auto;">
          <h5 style="text-align:center">Ryan Messett</h5>
          <div class="card mb-4 box-shadow" style="width: 100%;">
            <img
              class="card-img-top"
              src="https://media.licdn.com/dms/image/C4E03AQGPutQUZuWIBQ/profile-displayphoto-shrink_400_400/0/1656191826866?e=1684972800&v=beta&t=Dcq-a-inO1w6sorTLiNLG4z8MUaEV6WvO96hxVafyOc"
              alt="Ryan"
            />
            <div class="card-body">
              <p class="card-text">Ryan thrive's on pushing boundaries and embracing the excitement 
                of life. Originally from Colorado, his happy place usually involves mountains. 
                Ryan currently resides in Austin, TX where you can find him trying to stay out of the heat.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                    data-toggle="modal"
                    data-target="#myModal5"
                  >View</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4" style="max-width: 300px; margin: auto;">
          <h5 style="text-align:center">Chris McNamara</h5>
          <div class="card mb-4 box-shadow" style="width: 100%;">
            <img
              class="card-img-top"
              src="https://media.licdn.com/dms/image/D5603AQFMelUzK9fnrQ/profile-displayphoto-shrink_400_400/0/1676653009461?e=1684972800&v=beta&t=eCwWdtCsYdm1G7NS4I14HlFkwai4GVAvS8MeHpvlmSE"
              alt="Chris"
            />
            <div class="card-body">
              <p class="card-text">New York native with a passion for music. Chris has 
                found comfort and excitement in software development that he has seldom 
                found in other career paths. In his free time you can find Chris playing 
                guitar and walking his dog Ruby around the neighborhoods of North Austin.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-secondary"
                    data-toggle="modal"
                    data-target="#myModal6"
                  >View</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="myModal1"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Eric Easthope</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p style="text-align:center">Links to personal profiles</p>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <a href="https://github.com/eeast" class="btn btn-primary">Github</a>
          <a href="https://www.linkedin.com/in/eric-easthope/" class="btn btn-primary">LinkedIn</a>
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
          >Close</button>
        </div>
      </div>
    </div>
  </div>
  <div
    class="modal fade"
    id="myModal2"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Elizabeth Olsavsky</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p style="text-align:center">Links to personal profiles</p>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <a href="https://github.com/elizabetholsavsky" class="btn btn-primary">Github</a>
          <a href="https://www.linkedin.com/in/elizabetholsavsky/" class="btn btn-primary">LinkedIn</a>
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
          >Close</button>
        </div>
      </div>
    </div>
  </div>
  <div
    class="modal fade"
    id="myModal3"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Hunter Hester</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p style="text-align:center">Links to personal profiles</p>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <a href="https://github.com/HunterHester" class="btn btn-primary">Github</a>
          <a href="https://www.linkedin.com/in/hunter-hester-5a46281a9/" class="btn btn-primary">LinkedIn</a>
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
          >Close</button>
        </div>
      </div>
    </div>
  </div>
  <div
    class="modal fade"
    id="myModal4"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Brian Hamlin</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p style="text-align:center">Links to personal profiles</p>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <a href="https://github.com/MisterBham" class="btn btn-primary" style="align-items: left;">Github</a>
          <a href="https://www.linkedin.com/in/brianhamlin/" class="btn btn-primary">LinkedIn</a>
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
          >Close</button>
        </div>
      </div>
    </div>
  </div>
  <div
    class="modal fade"
    id="myModal5"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ryan Messett</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p style="text-align:center">Links to personal profiles</p>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <a href="https://github.com/rmessett15" class="btn btn-primary">Github</a>
          <a href="https://www.linkedin.com/in/ryan-messett/" class="btn btn-primary">LinkedIn</a>
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
          >Close</button>
        </div>
      </div>
    </div>
  </div>
  <div
    class="modal fade"
    id="myModal6"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Chris McNamara</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p style="text-align:center">Links to personal profiles</p>
        </div>
        <div class="modal-footer d-flex justify-content-center" >
          <a href="https://github.com/cmcnamara15" class="btn btn-primary">Github</a>
          <a href="https://www.linkedin.com/in/chris-mcnamara1991/" class="btn btn-primary">LinkedIn</a>
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
            style="align-items: end;"
          >Close</button>
        </div>
      </div>
    </div>
  </div>
  <style>
    .jumbotron {
      background: bisque;
    }

    .card-body {
      background: beige;
    }
    .modal-header {
      background: beige
    }
    .modal-body {
      background: blanchedalmond;
    }
    .modal-footer {
      background: burlywood;
    }
    .btn-primary{
      background: cadetblue;
    }

  </style>
</main>