<h2 class="text-center mt-4">Welcome to your feed!</h2>
{{#each posts }}
    {{> card-feed }}
{{/each}}

<style>
    h2 {
        font-family: 'Amatic SC', cursive;
        {{!-- font-family: 'Macondo', cursive; --}}
    }
</style>


