{{!-- <div class="container"> --}}
    <div class="row">
        <div class="text-center mx-auto pt-2">
            <h1>{{user.username}}'s Blog</h1>
        </div>
    </div>
    {{#each posts}}
        {{> post-card}}
    {{/each}}
{{!-- </div> --}}

<style>
    .fixed-bottom {
        position: fixed;
        right: 0;
        bottom: 0;
        z-index: 999;
    }
    h1 {
        font-family: 'Amatic SC', cursive;
        {{!-- font-family: 'Macondo', cursive; --}}
    }
   

</style>
<div class="fixed-bottom d-flex justify-content-end pr-3 pb-3">
  <a href="/create" class="btn btn-lg">
    <i class="bi-plus-square-fill" style="font-size: 3rem; color: #1DA1F2"></i>
  </a>
</div>

<script src="/js/editDeleteUserPage.js"></script>